.container {
    position: relative;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 50px [col-start]);
    grid-template-rows: repeat(10, 50px [row-start]);
}

.gameover {
    position: absolute;
    background-color: red;
    left: 20%;
    bottom: 50%;
}

.gameover-span {
    vertical-align: middle;
}

@keyframes wiggle {
  0% { transform: translate(-130px, 70px) rotate(45deg); }
  50% { transform: translate(-130px, 70px) rotate(35deg); }
  100% { transform: translate(-130px, 70px) rotate(40deg); }
}